<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Room Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 text-center>Select your time.</h3>
  <ion-list>
    <div *ngFor="let duration of durations">
      <button ion-item *ngIf="duration != startDuration && duration != endDuration" (click)="selectDuration(duration)" text-center>
        <div> {{ duration.startTime | date: 'HH:mm' }} - {{ duration.endTime | date: 'HH:mm' }} </div>
      </button>
      <button ion-item *ngIf="duration == startDuration || duration == endDuration" color="primary" (click)="selectDuration(duration)" text-center>
        <div> {{ duration.startTime | date: 'HH:mm' }} - {{ duration.endTime | date: 'HH:mm' }} </div>
      </button>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button block (click)="book()">Book</button>
</ion-footer>