<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Booking</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar [(ngModel)]="link" (ionInput)="search(link)"></ion-searchbar>
  
  <ion-list *ngIf="searchBooking">
    <ion-card>
      <ion-card-header>
        <h2>Share Booking Result</h2>
        Group : {{ searchBooking.groupName }}
      </ion-card-header>
      <ion-card-content>
        <h3> Room: {{ searchBooking.location }} </h3>
        <h3> Start time: {{ searchBooking.startTime | date:'MMM d, y HH:mm' }} </h3>
        <h3> End time: {{ searchBooking.endTime | date:'MMM d, y HH:mm'}} </h3>
        <button [disabled]="isExpired(searchBooking.startTime)" (click)="add(searchBooking)">Add to your list</button>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-card *ngFor="let booking of bookings">
      <ion-card-header>
        Group : {{ booking.groupName }}
      </ion-card-header>
      <ion-card-content>
        <h3> Booking Type: {{ getBookingType(booking.ownerId) }} </h3>
        <h3> Room: {{ booking.location }} </h3>
        <h3> Start time: {{ booking.startTime | date:'MMM d, y HH:mm' }} </h3>
        <h3> End time: {{ booking.endTime | date:'MMM d, y HH:mm'}} </h3>
      </ion-card-content>
      <button [disabled]="isExpired(booking.startTime)" (click)="share(booking.$key)">Share</button>
      <button [disabled]="isExpired(booking.startTime)" (click)="setNotification(booking.startTime)">Notification</button>
      <button (click)="cancel(booking)" class="float-right">Cancel</button>
    </ion-card>
  </ion-list>
</ion-content>
